<a href="https://colab.research.google.com/github/ISHITASAHA01/-Movie-Recommendation-System/blob/main/pythonkd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
#print the value of element
a=5
b=6
c=a+b
print('the value of a is {},the value of b is {} and the value the value of sum is {}'.format(b,a,c))

the value of a is 6,the value of b is 5 and the value the value of sum is 11

In [ ]:
#print the value of element
a=5
b=6
c=a+b
print('the value of a is {0} ,the value of b is {1} and the value the value of sum is {2}'.format(a,b,c))

the value of a is 5,the value of b is 6 and the value the value of sum is 11

In [ ]:
#print the value of element
a=5
b=6
c=a+b
print('the value of a =',a ,'the value of b =',b, ' the value the value of c =',c,)

the value of a = 5 the value of b = 6  the value the value of c = 11

In [ ]:
#swapping
a=5
b=6
print('befor swapping a =', a, 'and b =',b)
team=a
a=b
b=team
print('after swaping a =',a, 'and b =', b)

befor swapping a = 5 and b = 6
after swaping a = 6 and b = 5

In [ ]:
#swaping
a=5
b=6
print('befor swapping a =', a, 'and b=',b)
a=a+b
b=a-b
a=a-b
print('after swaping a =', a, 'and b =', b)

befor swapping a = 5 and b= 6
after swaping a = 6 and b = 5

In [ ]:
#int(input())
a=int(input('Enter the value for a'))
print(a)
b =int(input('Enter the value for b'))
print(b)
c =a+b
print(c)

Enter the value for a5
5
Enter the value for b4
4
9

In [ ]:
#print in there lines
print('''kolkata
dehi
bombay''')

kolkata
dehi
bombay

In [ ]:
#print in there lines
print('kolkata\ndelhi\nbomby')

kolkata
delhi
bomby

In [ ]:
#find the data type
a=5
type(a)

int

In [ ]:
a=8.9
type(a)

float

In [ ]:
#find the data type
x=5>3
type(x)

bool

In [ ]:
#boolean
a=5
b=10
a<=b

True

In [ ]:
#find the memory location
a=8
print(id(a))
b=5.9
id(b)

132431778349520

132430510718288

In [ ]:
#complex number
import cmath
a=2
b=5
c=complex(a,b)
print(c)
print('real part of the complex number =',c.real)
print('imaginary part of the complex number=',c.imag)
print('the complex number =',cmath.phase(c))

(2+5j)
real part of the complex number = 2.0
imaginary part of the complex number= 5.0
the complex number = 1.1902899496825317

In [ ]:
#string
a='hit,haldia,2334'
print(a)
#slicng
print(a[0:2])
print(a[0:3])
print(a[:5])
print(a[1:])
print(a[5:11])
print(a[-4])#revers order #negetive slicing
print(a[-3:-1])
print(a[-3])

hit,haldia,2334
hi
hit
hit,h
it,haldia,2334
aldia,
2
33
3

In [ ]:
#list
a=[10,20,3,4,30,5,56,'hit']
print(a[0:2])#list slicing
type(a)

[10, 20]

list

In [ ]:
#different list
a=[10,20,30,40,]

a.append (50)
print(a)
a.pop(0)
print(a)
a.remove(40)
print(a)
a.insert(3,35)
print(a)
a.reverse()
print(a)
a.sort()
print(a)
a.count(35)#frequency of appearing

[10, 20, 30, 40, 50]
[20, 30, 40, 50]
[20, 30, 50]
[20, 30, 50, 35]
[35, 50, 30, 20]
[20, 30, 35, 50]

1

In [ ]:
#tuple index
tup=(10,20,30,40,50,60,'hit',3.98)
print(tup.index(40))

3

In [ ]:
#tuple to list conversion
T=(10,2.35,'hit',50)
L=list(T)
print(L)

[10, 2.35, 'hit', 50]

In [ ]:
#list to Tupple convertion
T=tuple(L)
print(T)

(10, 2.35, 'hit', 50)

In [ ]:
#rang
b=range(0,10)
print(b)
for i in b:
  print(i)

range(0, 10)
0
1
2
3
4
5
6
7
8
9

In [ ]:
#rang
b=range(2,10)
print(b)
for i in b:
  print(i)

range(2, 10)
2
3
4
5
6
7
8
9

In [ ]:
#rang
b=range( 10,1,-1)
print(b)
for i in b:
  print(i)

range(10, 1, -1)
10
9
8
7
6
5
4
3
2

In [ ]:
#rang
b=range( 10,1,-2)
print(b)
for i in b:
  print(i)

range(10, 1, -2)
10
8
6
4
2

In [ ]:
#rang
b=range( 1,10)
print(b)
for i in b:
  print(i)

range(1, 10)
1
2
3
4
5
6
7
8
9

In [ ]:
#rang
b=range( 10,-1,-1)
print(b)
for i in b:
  print(i)

range(10, -1, -1)
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
#rang
b=range( 10,1,-3)
print(b)
for i in b:
  print(i)

range(10, 1, -3)
10
7
4

In [ ]:
#set
s={10,20,30,'mca',3.19}
s.update([10,100,'kb'])
print(s)#arbitary printing #less use

{3.19, 20, 'mca', 100, 'kb', 10, 30}

In [ ]:
#mapping
mp={10:'hit', 20:'mca',30:'first name'}
print(mp)
print(mp[20])
print(mp.keys())
type(mp)

{10: 'hit', 20: 'mca', 30: 'first name'}
mca
dict_keys([10, 20, 30])

dict

In [ ]:
#check a number is odd or even
x=int(input('Enter the number: '))
if x%2==0:
  print('even')
else:
  print('odd')

Enter the number: 15
odd

In [ ]:
#largest number is checking
x=int(input('Enter the number:  '))
y=int(input('Enter the number:  '))
if x>y:
  print("the largest number is =",x)
else:
  print("the smallest number is =",y)

Enter the number:  54
Enter the number:  12
the largest number is = 54

In [ ]:
#Display even  number 1to 10
x=range(1,11)
print("the even number from 1 to 10 are : ")
for i in x:
  if i%2==0:
    print(i)

the even number from 1 to 10 are :
2
4
6
8
10

In [ ]:
#Display the odd number 1 to 10
#x=range(1,11)
range(1,11)
print("the odd number from 1 to 10 are : ")
for i in x:
  if i%2!=0:
    print(i)

the odd number from 1 to 10 are :
1
3
5
7
9

In [ ]:
#table of a number grad system
marks=float(input("Enter the marks  "))
if marks>=90:
  print('Grade  O')
elif marks<90 and marks >=80:
  print('Grade E ')
elif marks<80 and marks>=70:
  print('Grade A')
elif marks<70 and marks>=60:
  print('Grade B')
elif marks<60 and marks>=50:
  print('Grade C')
elif marks<50 and marks>=40:
  print('Grade D')
else:
 print('Fail')

Enter the marks  20
Fail

In [ ]:
#table of a number
a=int(input('Upper limit of table? '))
b=int(input('table for which number? '))
c=range(1,a+1)
for i in c:
  print(b,'*' , i ,'=' ,b*i)

Upper limit of table? 10
table for which number? 12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [ ]:
#prime number
a=int(input("enter the number  "))
flag=0
if a==1:
  print("neighter a prime nor a composite a number  ")
else:
  for i in range(2,a):
   if a%i==0:
    flag=flag+1
    break
if flag==0:
    print("It is prime number  ")
else:
    print('It is not prime number  ')

enter the number  5
It is prime number

In [ ]:
#take multiple input from user
a,b,c=input('Enter three number ').split()
print(a,b,c)
d=int(a)
type(d)

Enter three number 34 56 78
34 56 78

int

In [ ]:
a,b,c=input('Enter three number ').split(',')
print(a,b,c)
d=int(a)
type(d)

Enter three number 34,12 ,32
34 12  32

int

In [ ]:
#hit printing for n number time
n=int(input("Enter the number value for n  "))
i=1
while i<n:
  print('hit')
  i=i+1

Enter the number value for n  5
hit
hit
hit
hit

In [ ]:
#break statement
for i in range(1,11):
  if i==5:
   break
  print(i)
print("End")

1
2
3
4
End

In [ ]:
#pattern 1
n=int(input('how many numbers do you want to print?\n '))
for i in range(1,n+1):
   for j in range(1,i+1):
       print('* ',end= ' ')
   print(' ')

how many numbers do you want to print?
 4
*
*  *
*  *  *
*  *  *  *

In [ ]:
#pattern 3
n=int(input('how many numbers do you want to print?\n '))
for i in range(1,n+1):
  print(' '*(n-1),end='')
  print('*  '*i,end='')
  n-=1
  print(' ')

how many numbers do you want to print?
 6
     *
    *  *
   *  *  *
  *  *  *  *
 *  *  *  *  *
*  *  *  *  *  *